{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.md"],
      "options": { "printWidth": 80, "proseWrap": "preserve" }
    },
    {
      "files": ["packages/spec/tests/**/*.json", "packages/spec/errors.json"],
      "options": { "printWidth": 120 }
    }
  ]
}
